Name: Jordan Pinkava

Course: BMGT404

Section: 0201

Date: 04/04/2024

# Homework 4: Video Game Analysis

At TerpStudios, I am a first-year analyst looking to make an impact at my dream company. Yet, no matter how exciting this role is, TerpStudios has been struggling with their video game sales and it is my job to analyze data about top video games in recent history. In parsing this data, I hope to gain insights about popular video games and get an idea of what I can suggest at our upcoming meeting to improve video game sales in the future.

In [1]:
#load in necessary libraries, numpy and pandas
import numpy as np
import pandas as pd

# Initial Data Load

First step to analyzing any data is reading it in. I denoted the rank of the video games as the index to make things easier to filter and find.

In [2]:
#1
#read in data, denote index as the Rank column
game_data = pd.read_csv('HW4-video-game-sales.csv', index_col = "Rank")

#2
#display top 30 video games on the dataset
game_data.head(30)

,Name,Publisher:Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Rank,,,,,,,,
1,Wii Sports,Nintendo:Wii,2006,Sports,41.49,29.02,3.77,8.46
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Super Mario Bros.,Nintendo:NES,1985,Platform,29.08,3.58,6.81,0.77
3,Mario Kart Wii,Nintendo:Wii,2008,Racing,15.85,12.88,3.79,3.31
4,Wii Sports Resort,Nintendo:Wii,2009,Sports,15.75,11.01,3.28,2.96
5,Pokemon Red/Pokemon Blue,Nintendo:GB,1996,Role-Playing,11.27,8.89,10.22,1
6,Tetris,Nintendo:GB,1989,Puzzle,23.2,2.26,4.22,0.58
7,New Super Mario Bros.,Nintendo:DS,2400,Platform,11.38,9.23,6.5,2.9
8,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
8,Wii Play,Nintendo:Wii,2006,Misc,14.03,9.2,2.93,2.85
9,New Super Mario Bros. Wii,Nintendo:Wii,2009,Platform,14.59,7.06,4.7,2.26
10,Duck Hunt,Nintendo:NES,1984,Shooter,26.93,0.63,0.28,NaN
11,Nintendogs,Nintendo:DS,12005,Simulation,9.07,11,1.93,2.75
12,Mario Kart DS,Nintendo:DS,2005,Racing,9.81,7.57,4.13,1.92
13,Pokemon Gold/Pokemon Silver,Nintendo:GB,1999,Role-Playing,NaN,NaN,NaN,NaN
14,Wii Fit,Nintendo:Wii,2007,Sports,8.94,8.03,3.6,2.15
15,Wii Fit Plus,Nintendo:Wii,2009,Sports,9.09,8.59,2.53,1.79
16,NaN,Microsoft Game Studios:X360,2010,Misc,14.97,4.94,0.24,1.67
17,Grand Theft Auto V,Take-Two Interactive:PS3,2013,Action,7.01,9.27,0.97,4.14
18,Grand Theft Auto: San Andreas,Take-Two Interactive:PS2,2004,Action,9.43,0.4,0.41,10.57
19,Super Mario World,Nintendo:SNES,1990,Platform,12.78,3.75,3.54,0.55
20,Brain Age: Train Your Brain in Minutes a Day,Nintendo:DS,2005,Misc,4.75,9.26,4.16,2.05
21,Pokemon Diamond/Pokemon Pearl,Nintendo:DS,2006,Role-Playing,6.42,4.52,6.04,1.37
22,Super Mario Land,Nintendo:GB,1989,Platform,10.83,2.71,4.18,0.42
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Super Mario Bros. 3,Nintendo:NES,1988,Platform,9.54,3.44,3.84,0.46
24,Grand Theft Auto V,Take-Two Interactive:X360,2013,Action,9.63,5.31,0.06,1.38
25,Grand Theft Auto: Vice City,Take-Two Interactive:PS2,2002,Action,8.41,5.49,0.47,1.78
26,Pokemon Ruby/Pokemon Sapphire,Nintendo:GBA,2002,Role-Playing,6.06,3.9,5.38,0.5
27,Pokemon Black/Pokemon White,Nintendo:DS,2010,Role-Playing,5.57,3.28,5.65,0.82

Right away, I notice that we are missing a LOT of data...

So now my job is not only to analyze the data, but to clean and tidy the data so I can work with it at all. By getting rid of missing data and cleaning uo my dataset, this will ensure that my analysis can be completed the best it can be and that I can succeed in gaining insights from this particular dataset.

# Data Cleansing and Preparation

Lets start cleaning the data and preparing it for analysis!

First thing I want to know about my missing data is how much is actually missing. To get a good gauge of this, I am going to see how many total missing observations there are in the top 100 video games in the dataset. From there, I am going to get the percentage of how much of this top 100 is actually made up of missing values.

In [4]:
#3
#create a variable for our top 100 observations in the dataset
top_100 = game_data.head(100)
#I created variables that dropped any rows that has NO clean data. Any row that was all NA did not contain clean data, which we do not want
total_good = top_100.dropna(how='all')
#get the sum of how many observations contain clean data
total_good.count()
#based on the output, we see that there are 97 observations left after dropping any rows that do not contain any clean data
#calculate the percentage of clean observations by dividing it by the total number of observations, 100 in this case
percentage = (94/100)*100
print(f"The percentage of clean observations in the top 100 ranked video games is {percentage}%")

The percentage of clean observations in the top 100 ranked video games is 94.0%

It appears that there is missing values in our top 100, and likley for the rest of the dataset, especially for the less popular video games. To deal with this, I am going to remove any observations that do not have at least 7 valid (non-missing) data points. This will help for the data analysis going forward, as we will have so many less insignificant rows to deal with.

In [5]:
#4
#first, I noticed there were a lot of values labeled "missing" that were not being dropped because of how they were denoted
#I changed all values denoted as "missing" to NA, which ensured that dropping our NA values would be effective
game_data.replace('Missing', pd.NA, inplace=True)
#permanantly dropped any rows that do not have at least 7 valid observations
game_data.dropna(inplace = True, thresh = 7)
game_data

,Name,Publisher:Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Rank,,,,,,,,
1,Wii Sports,Nintendo:Wii,2006,Sports,41.49,29.02,3.77,8.46
2,Super Mario Bros.,Nintendo:NES,1985,Platform,29.08,3.58,6.81,0.77
3,Mario Kart Wii,Nintendo:Wii,2008,Racing,15.85,12.88,3.79,3.31
4,Wii Sports Resort,Nintendo:Wii,2009,Sports,15.75,11.01,3.28,2.96
5,Pokemon Red/Pokemon Blue,Nintendo:GB,1996,Role-Playing,11.27,8.89,10.22,1
...,...,...,...,...,...,...,...,...
16594,Woody Woodpecker in Crazy Castle 5,Kemco:GBA,2002,Platform,0.01,0,0,0
16595,Men in Black II: Alien Escape,Infogrames:GC,2003,Shooter,0.01,0,0,0
16596,SCORE International Baja 1000: The Official Game,Activision:PS2,2008,Racing,0,0,0,0
16597,Know How 2,7G//AMES:DS,2010,Puzzle,0,0.01,0,0
16598,Spirits & Spells,Wanadoo:GBA,2003,Platform,0.01,0,0,0

Next step is to add in a column for global sales. It is nice having our sales listed by region, but it is not as insightful as it could be for our data analysis. To get the global sales, it will simply be the sum of all of our sales data into this new column.

In [6]:
#5 
#get the data we want to work with, which is our sales data
sales_data = game_data[["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"]]
#change all of the columns to datatype float
sales_data = sales_data.astype(float)
#take all of the sales data and sum it across the rows to get our new column, global sales
global_sales = sales_data.sum(axis = 1)
#make this data into a series so that we can add it to our dataframe under a new column named "Global_Sales"
global_sales = pd.Series(global_sales)
game_data["Global_Sales"] = global_sales
game_data

,Name,Publisher:Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,
1,Wii Sports,Nintendo:Wii,2006,Sports,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,Nintendo:NES,1985,Platform,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Nintendo:Wii,2008,Racing,15.85,12.88,3.79,3.31,35.83
4,Wii Sports Resort,Nintendo:Wii,2009,Sports,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,Nintendo:GB,1996,Role-Playing,11.27,8.89,10.22,1,31.38
...,...,...,...,...,...,...,...,...,...
16594,Woody Woodpecker in Crazy Castle 5,Kemco:GBA,2002,Platform,0.01,0,0,0,0.01
16595,Men in Black II: Alien Escape,Infogrames:GC,2003,Shooter,0.01,0,0,0,0.01
16596,SCORE International Baja 1000: The Official Game,Activision:PS2,2008,Racing,0,0,0,0,0.00
16597,Know How 2,7G//AMES:DS,2010,Puzzle,0,0.01,0,0,0.01
16598,Spirits & Spells,Wanadoo:GBA,2003,Platform,0.01,0,0,0,0.01

Now that we have a global sales, column, lets see which video games had the highest global sales. To see this, we will sort the game data by global sales, descending, and display the columns of interest: publisher:platform, name, and global sales. This will help give me a pretty good idea of which games and publishers are doing best in terms of their global sales.

In [7]:
#6
#Grab the publisher:platform, name, and global sales columns, sort them by top global sales, and siplay the top 15
game_data[['Publisher:Platform', 'Name', 'Global_Sales']].head(15).sort_values(by = "Global_Sales", ascending = False)

               Publisher:Platform                       Name  Global_Sales
Rank
1                    Nintendo:Wii                 Wii Sports         82.74
2                    Nintendo:NES          Super Mario Bros.         40.24
3                    Nintendo:Wii             Mario Kart Wii         35.83
4                    Nintendo:Wii          Wii Sports Resort         33.00
5                     Nintendo:GB   Pokemon Red/Pokemon Blue         31.38
6                     Nintendo:GB                     Tetris         30.26
7                     Nintendo:DS      New Super Mario Bros.         30.01
8                    Nintendo:Wii                   Wii Play         29.01
9                    Nintendo:Wii  New Super Mario Bros. Wii         28.61
10                   Nintendo:NES                  Duck Hunt         27.84
11                    Nintendo:DS                 Nintendogs         24.75
12                    Nintendo:DS              Mario Kart DS         23.43
14                   Nintendo:Wii                    Wii Fit         22.72
15                   Nintendo:Wii               Wii Fit Plus         22.00
16    Microsoft Game Studios:X360                        NaN         21.82

I am noticing a lot of Nintendo up there, but I do not want to see all of the publisher:platform data together. Nintendo has so many devices and games that seperating them from their devices will be smart going forward. Not even just not Nintendo, but we clearly see how they control global sales!

I am going to seperate publisher:platform into two separate columns so that we can easily distingush platforms and not automatically group them into the company that created them.

In [8]:
#7
#grabbing the publisher:platform column, I am splitting on the colon
cols = game_data["Publisher:Platform"].str.split(":")
#the first part of the string is the publisher, so we can index that and put it into new column "Publisher"
game_data["Publisher"]= cols.str[0]
#the second part of the string is the platform, so we can index that and put it into new column "Platform"
game_data["Platform"] = cols.str[1]
#finally, we can get rid of the original column as it serves no use to us after creating the two sepearte columns
del game_data['Publisher:Platform']
game_data

,Name,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Publisher,Platform
Rank,,,,,,,,,,
1,Wii Sports,2006,Sports,41.49,29.02,3.77,8.46,82.74,Nintendo,Wii
2,Super Mario Bros.,1985,Platform,29.08,3.58,6.81,0.77,40.24,Nintendo,NES
3,Mario Kart Wii,2008,Racing,15.85,12.88,3.79,3.31,35.83,Nintendo,Wii
4,Wii Sports Resort,2009,Sports,15.75,11.01,3.28,2.96,33.00,Nintendo,Wii
5,Pokemon Red/Pokemon Blue,1996,Role-Playing,11.27,8.89,10.22,1,31.38,Nintendo,GB
...,...,...,...,...,...,...,...,...,...,...
16594,Woody Woodpecker in Crazy Castle 5,2002,Platform,0.01,0,0,0,0.01,Kemco,GBA
16595,Men in Black II: Alien Escape,2003,Shooter,0.01,0,0,0,0.01,Infogrames,GC
16596,SCORE International Baja 1000: The Official Game,2008,Racing,0,0,0,0,0.00,Activision,PS2
16597,Know How 2,2010,Puzzle,0,0.01,0,0,0.01,7G//AMES,DS
16598,Spirits & Spells,2003,Platform,0.01,0,0,0,0.01,Wanadoo,GBA

# Data Analysis

Now that we cleaned up the dataset, I finally feel ready to do the analysis I intended to do. TerpStudios is counting on me to make genuine and significant observations, and this is where I will conduct my full analyses on video game data. Lets see which publisher is really the best and learn from them!

Like mentioned previously, Nintendo is at the top of our dataset, and for good reasons. Some of the most popular games ever created are by Nintendo, and they continue to put out amazing platforms that beat all odds each time.Lets see how many games were published by Nintendo in this dataset.

In [21]:
#8
#grab the observations that have "Nintendo" in their "Publisher" column
nintendo_games = game_data["Publisher"]=="Nintendo"
#get the sum (total) of how many video games meet that criteria
print(f"Total number of video games published by Nintendo: {nintendo_games.sum()}")

Total number of video games published by Nintendo: 702

Many video games seem to have the word "Super" in the title, but just how many? Personally, my favorite game is Super Smash Bros, so I already know I will see that game on here!

In [10]:
#9 
#to see which games contain "super" in the title, I used a vectorized string method to extract any data with "Super" in the title
games_super = game_data["Name"].str.extract('(Super)', expand = True)
#from here, I counted how many of these titles there were. I used indexing to grab 385 from the output
val_super = games_super.value_counts()[0]
print(f"There are {val_super} games that contain the word 'Super' in its title.")

There are 385 games that contain the word 'Super' in its title.

Lets see how many games had sales over $20 million in at least one market. This is significant to see as it will tell me which markets have had those really high sales (and how many at that), and just to in general see how many video games are reaching this amount of sales.

In [11]:
#10
#select columns of interest, our sales columns, and make sure all columns are a float datatype
dat = game_data[["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]].astype(float)
#set a mask that collects any observations that have a value of 20 (million) or higher
mask = dat >= 20
tot = game_data[mask].notnull().sum().sum()
print(f"In at least one market, {tot} games reached at least $20 million in sales")

In at least one market, 24 games reached at least $20 million in sales

Video games made major strides once we hit the 2000's, so focusing on video games released during the early 2000's and later is a great way for me to view the data. I want to know which games from 2002 to now have had global sales of at least $2 million. Further, I want to see this as a percentage to better understand what proportion of these video games from 2002 to now meet that 2 million dollar goal.

In [12]:
#11 
#get video games that were released in 2002 and beyond
year_data = game_data[game_data["Year"] >= "2002"]
#from there, collect the video games that had at least $2m in global sales
year_and_earnings = year_data[year_data["Global_Sales"] >= 2]
#for getting this as a percentage, we can grab the count for video games made from 2002 and beyond and the games in that range that had $2m+ in global sales
y2k2_count = year_and_earnings["Global_Sales"].count()
total_count = year_data["Global_Sales"].count()
#find the percentage
percentage =(y2k2_count/total_count)*100
print(f"Out of the games created in 2002 and later, {percentage:.2f} of those video games earned at least $2m in global sales.")

Out of the games created in 2002 and later, 4.49 of those video games earned at least $2m in global sales.

An effective measure of our data might be to see the correlation between our markets. This will tell us the relationship that two markets might have on one another and see if there is a significant relationship or not between the two. It is possible that one market's sales can be strongly correlated with another, and we can get the general picture of that by creating a correlation matrix between all markets.

In [13]:
#12
#create a correlation matrix between all of our market columns. dat variable holds our sales data from the dataframe
dat.corr()

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
NA_Sales      1.000000  0.765962  0.443597     0.652019      0.940619
EU_Sales      0.765962  1.000000  0.427718     0.727259      0.902274
JP_Sales      0.443597  0.427718  1.000000     0.290052      0.605417
Other_Sales   0.652019  0.727259  0.290052     1.000000      0.755407
Global_Sales  0.940619  0.902274  0.605417     0.755407      1.000000

Observations:

1. There is a strong correlation between global sales and North American sales. 

2. There is a weak relationship between Japan sales and other market sales.

Inferences:

1. The strong correlation between global sales and North American sales is likely no coincidence, as North American sales directly affects the number of global sales. The next strongest correlation we have is between between European and global sales, which once again I doubt is any coincidence. This makes a lot of sense considering what global sales is made up of. 

2. The weak relationship between Japan and other market sales implies that Japan's sales does not have much of a relationship with the sales in other markets. I think this may be because of how we measure the sales of Japan in terms of a Country, while our other measurements are by continent. I assume this was done for a reason, possibly because Nintendo, one of our biggest video game publishers, is a Japanese company. Nonetheless, it appears that the sales of video games in Japan has a very weak relationship with sales in other markets, as well as a somewhat weak relationship between sales in North America and Europe.

Beyond just looking at a correlation matrix between all of the markets for all the historical data, it would be significant to see correlation matricies for specific years. Lets take a look at a correlation matrix for the year 2000 and then 2015, and from there we can get an idea of the changes made in that 15 year period in terms of market sales and their relationships.

In [14]:
# 13-- 2000 
#create a variable that selects all game data from the year 2000
year_2000= game_data["Year"] == "2000"
dat[year_2000].corr()

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
NA_Sales      1.000000  0.866555  0.139115     0.691317      0.900914
EU_Sales      0.866555  1.000000  0.108401     0.748552      0.866584
JP_Sales      0.139115  0.108401  1.000000     0.226852      0.512328
Other_Sales   0.691317  0.748552  0.226852     1.000000      0.762164
Global_Sales  0.900914  0.866584  0.512328     0.762164      1.000000

In [15]:
#13--- 2015
#create a variable that selects all game data from the year 2015
year_2015= game_data["Year"] == "2015"
dat[year_2015].corr()

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
NA_Sales      1.000000  0.736844  0.123217     0.866672      0.911533
EU_Sales      0.736844  1.000000  0.132160     0.926506      0.922360
JP_Sales      0.123217  0.132160  1.000000     0.126803      0.307129
Other_Sales   0.866672  0.926506  0.126803     1.000000      0.956571
Global_Sales  0.911533  0.922360  0.307129     0.956571      1.000000

Observation:

1. The relationship between North American sales and European sales decreased over the 15 year period.

Inference:

1. The relationship between NA and EU sales may have decreased due to the types of games being released and where they are available. Maybe a lot more people in NA enjoy playing videos, or maybe certain video games on certain platforms that may not be available in EU. Further, 

Observation:

2. All relationships with other market sales increased after 15 years, except for Japan sales and other market sales.

Inference:

2. Since the relationships between global, NA, EU and other sales increased over the 15 year period, I can infer that more markets opened up or started selling video games. For example, maybe there was not a strong market for video games in South America before the 2000's, but after video games gained popularity in the early 2000's, they likely started selling more games and expanded upon their market. This likely lead to an increase in the relationship that the sales in markets have had on other markets in the world.

To make my final analyses, I want to focus on game genres and platforms. Two significant aspects of gaming is your availability to different platforms, and the genre of the game can easily impact how popular the game may be. TerpStudios wants to do something original, but looking at what is most popular, or what even has the least amount of competition could be very useful information. The platform tells us essentially which devices might be more popular for our game and how many people have access to those platforms.

In [16]:
#14
#lets take a look at the genre column, and lets count how many observations there are containing each type of genre
game_data["Genre"].value_counts().head()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1487
Shooter         1310
Name: Genre, dtype: int64

In [17]:
#14
#we want to do the same with the platform to see which is most popular
game_data["Platform"].value_counts().head()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
Name: Platform, dtype: int64

Based on the data above, we see major popularity with genres such as action and sports, and platforms that are popular include the Nintendo DS and PS2 and 3. Leveraging this, I think a good direction for TerpStudios is to create a game that is available on the most popular platform and that has elements of the most popular genres. 

My proposed game:
Role playing and action are at the top in terms of genre popularity. PlayStation has some of the most popular and best selling consoles in our dataset as well. In my experience, I have played a lot of really thrilling PlayStation role-playing games. I think we should reach out to the team over at Supermassive games, the leaders of The Dark Pictures Anthology Series. This studio has made some of the best video games for interactive and group play, and I think having an action game that is interactive will reach the most audiences. My idea regards a survival-action game, where a group of 5 students get trapped in school during a shelter in place, and they have to work together to figure out why they are stuck alone, who called the shelter in place, and how they can get out safely. This proposal allows for 5 people to play at once, or one person can rotate through all five characters. We will sell the game on PlayStation devices, as to reach the highest audience of gamers. I personally am a big fan of creating this game, and I hope my team at TerpStudios is on board!

Below, I filter for games that meet our genres of choice (action, role playing) and our platform of choice, PS3. This gives quick insight to what games by PS3 or under the genres of choice are, and it shows that global sales are very strong across all. This is going to be a great game and help TerpStudios get out of their slump!

In [18]:
game_data[game_data["Genre"] == "Action"].head()

,Name,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Publisher,Platform
Rank,,,,,,,,,,
17,Grand Theft Auto V,2013,Action,7.01,9.27,0.97,4.14,21.39,Take-Two Interactive,PS3
18,Grand Theft Auto: San Andreas,2004,Action,9.43,0.4,0.41,10.57,20.81,Take-Two Interactive,PS2
24,Grand Theft Auto V,2013,Action,9.63,5.31,0.06,1.38,16.38,Take-Two Interactive,X360
25,Grand Theft Auto: Vice City,2002,Action,8.41,5.49,0.47,1.78,16.15,Take-Two Interactive,PS2
39,Grand Theft Auto III,2001,Action,6.99,4.51,0.3,1.3,13.10,Take-Two Interactive,PS2

In [19]:
game_data[game_data["Genre"] == "Role-Playing"].head()

,Name,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Publisher,Platform
Rank,,,,,,,,,,
5,Pokemon Red/Pokemon Blue,1996,Role-Playing,11.27,8.89,10.22,1,31.38,Nintendo,GB
21,Pokemon Diamond/Pokemon Pearl,2006,Role-Playing,6.42,4.52,6.04,1.37,18.35,Nintendo,DS
26,Pokemon Ruby/Pokemon Sapphire,2002,Role-Playing,6.06,3.9,5.38,0.5,15.84,Nintendo,GBA
27,Pokemon Black/Pokemon White,2010,Role-Playing,5.57,3.28,5.65,0.82,15.32,Nintendo,DS
31,Pokémon Yellow: Special Pikachu Edition,1998,Role-Playing,5.89,5.04,3.12,0.59,14.64,Nintendo,GB

In [20]:
game_data[game_data["Platform"] == "PS3"].head()

,Name,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Publisher,Platform
Rank,,,,,,,,,,
17,Grand Theft Auto V,2013,Action,7.01,9.27,0.97,4.14,21.39,Take-Two Interactive,PS3
35,Call of Duty: Black Ops II,2012,Shooter,4.99,5.88,0.65,2.52,14.04,Activision,PS3
38,Call of Duty: Modern Warfare 3,2011,Shooter,5.54,5.82,0.49,1.62,13.47,Activision,PS3
41,Call of Duty: Black Ops,2010,Shooter,5.98,4.44,0.48,1.83,12.73,Activision,PS3
55,Gran Turismo 5,2010,Racing,2.96,4.88,0.81,2.12,10.77,Sony Computer Entertainment,PS3

"I pledge on my honor that I have not given nor received any unauthorized
assistance on this assignment."
--Jordan Pinkava